.navbar-fixed-top{
  position: fixed !important;
  top:0px;
  
}
.navbar .container{
  margin-left: 19px;
  margin-right: 20px;
  margin-top: 0px !important;
  text-align: center;
  width: 98%;
}
}
.container{
  margin-top: 65px !important; 
}




/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/**** Base styles ****/

body {
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  color: #000000;
  background: #e9e9e9;
}

a img { border: none; }

.element {
  width: auto;
  height: auto;
  margin: 2px;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;
}

.element * {
  margin: 0;
  width: 210px;
}

#options {
  padding-bottom: 1.0em;
}

#options ul {
  margin: 0 0 0 20px;
  list-style: none;
  float: left;
  padding: 0;
}

#filters {
	margin-left: 20px;
	margin-top: 4px;
	float: left;
	color: #000000;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background-color: #DDD;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -webkit-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:    -moz-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:     -ms-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:      -o-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:         linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
}

#options li a:hover {
  background-color: #5BF;
}

#options li a:active {
  background-color: #39D;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
  text-decoration: none;
}

#options li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options li a.selected {
  background-color: #13F;
  text-shadow: none;
  color: white;
}

#main {

}

.closeButton {
	position: absolute;
	z-index: 1001;
	background: url(../images/close.png) no-repeat;
	width: 25px;
	height: 25px;
   top: -2px;
}

.assetContainer{
  
  padding: 6px;
}

/*

.assetContainer{
  position: fixed;
  opacity: 1;
  top: 10%;
  left: 31%;
  background-color: #FFFFFF;
  width: 380px;
  padding: 16px;
  border-radius: 10px;
}

.closeButton {
    position: relative;
    top: -25px;
    z-index: 1001;
    background: url(../images/close.png) no-repeat;
    width: 25px;
    height: 25px;
    float: right;
    left: 26px !important;
}
*/
.newPopupdiv{
  width: 54%;
  background-color: #FFFFFF;
  padding: 6px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: scroll;
  text-align: center
}

#arrowButton{    
    cursor: pointer;   
	position: fixed;  
	width: 100%;
	z-index: 1003;
}            
#arrowButton .prevArrow{
    background: url(../images/prev.png) no-repeat; 
    width: 40px;
    height: 80px;      
	position: absolute;
	left: 20px;
} 
#arrowButton .nextArrow{                 
    background: url(../images/next.png) no-repeat;
    width: 40px;
    height: 80px;  
	position: absolute; 
	right: 20px;
}           

#tiles {
	list-style-type: none;
	position: relative;
	margin: 0;
}

#tiles li {
/*	width: 200px;*/
/*	display: none;*/
	z-index: 1000;
}



#tiles li img {
	display: block;
}

div.front{
	position: relative;
	z-index: 1001;
	background: #FFF;
	margin: 0; 
}

div.back{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0; 
	background: #FFF;	
}
div.back h4{
	margin: 7px 7px 0 7px;
}
div.front p, div.back p, div.info p{
	color: #666;
	font-size: 12px;
  	padding-bottom: 4px;
}


div.info{
	background: #FFF;
}
div.info h4{
	margin: 0px 7px 0 7px;
	padding-top: 10px;
}

.largeContainer{
	background: rgba(0,0,0,.8);	
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1002;
}
.largeContainer iframe{
	background: #FFF;
	position: relative;
	z-index: 1000;
}
.largeContainer img{
	position: relative;
	z-index: 1000;	
}

.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#sort{
  margin-left: 20px;
}

input{
  height:26px;
}

.sitemaplink{
  width:100%;
  text-align:right;
  padding: 0px;
}

.element_detail {
  width: 100%;
  height: auto;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;
}

.element_detail * {
  margin: 0;
  width: 300px;
}

.heading{
  background: #CCCCCC;
  color:#000000;
  width:100%;
  padding:3px;
  text-align: center;
  
}


/*!
 * stroll.js 1.1 - CSS scroll effects
 * http://lab.hakim.se/scroll-effects
 * MITcensed
 * 
 * Created by Hakim El Hattab, http://hakim.se
 *
 * Updated by Sike, http://codecanyon.net/user/sike
 */


.normal {
	opacity: 1;

	-webkit-transform: rotateX( 0deg );
	   -moz-transform: rotateX( 0deg );
	    -ms-transform: rotateX( 0deg );
	     -o-transform: rotateX( 0deg );
	        transform: rotateX( 0deg );

	-webkit-transform: rotateY( 0deg );
	   -moz-transform: rotateY( 0deg );
	    -ms-transform: rotateY( 0deg );
	     -o-transform: rotateY( 0deg );
	        transform: rotateY( 0deg );
	

		-webkit-transform: rotate( 0deg );
		   -moz-transform: rotate( 0deg );
		    -ms-transform: rotate( 0deg );
		     -o-transform: rotate( 0deg );
		        transform: rotate( 0deg );
		
		-webkit-transform: translateX( 0% );
		   -moz-transform: translateX( 0% );
		    -ms-transform: translateX( 0% );
		     -o-transform: translateX( 0% );
		        transform: translateX( 0% );
		
		-webkit-transform: translateY( 0% );
		   -moz-transform: translateY( 0% );
		    -ms-transform: translateY( 0% );
		     -o-transform: translateY( 0% );
		        transform: translateY( 0% );
		
		
	
}


.twirl {
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;

	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	     -o-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}

	.twirl {
		-webkit-transition: all 800ms ease,
							opacity 400ms ease;
		   -moz-transition: all 800ms ease;
		    -ms-transition: all 800ms ease,
		    				opacity 400ms ease;
		     -o-transition: all 800ms ease,
		    				opacity 400ms ease;
		        transition: all 800ms ease,
		        			opacity 400ms ease;

		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
		    -ms-transform-origin: 50% 50%;
		     -o-transform-origin: 50% 50%;
		        transform-origin: 50% 50%;
	}
		.twirl.frontSide {
			opacity: 0;

			-webkit-transform: rotate3d( 80,-70,10,180deg );
			   -moz-transform: rotate3d( 80,70,10,180deg );
			    -ms-transform: rotate3d( 80,70,10,180deg );
			     -o-transform: rotate3d( 80,70,10,180deg );
			        transform: rotate3d( 80,70,10,180deg );
		}
		.twirl.backSide {
			opacity: 0;

			-webkit-transform: rotate3d( 80,70,10,-180deg );
			   -moz-transform: rotate3d( 80,70,10,-180deg );
			    -ms-transform: rotate3d( 80,70,10,-180deg );
			     -o-transform: rotate3d( 80,70,10,-180deg );
			        transform: rotate3d( 80,70,10,-180deg );
		}
      
#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.container{
  margin-top: 50px;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.element.large .symbol {
  font-size: 4.5em;
}
.element.large .front {
  font-size: 3.0em;
  width: 350px !important;
  height: 350px !important;
  z-index: 100;
}





/* FLIP CSS */

 
    
.clientcontainer {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.clientcard {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s linear;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 0.5s linear;
	-o-transform-style: preserve-3d;
	-o-transition: all 0.5s linear;
	transform-style: preserve-3d;
	transition: all 0.5s linear;
	-ms-transform-style: preserve-3d;
	-ms-transition: all 0.5s linear;
}

.clientcontainer.hover_effect .hl {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: white;
	font-weight: normal;
}

.face.back {
	display: block;
	-webkit-transform: rotateY(180deg);
	-webkit-box-sizing: border-box;
	-moz-transform: rotateY(180deg);
	-moz-box-sizing: border-box;
	-o-transform: rotateY(180deg);
	-o-box-sizing: border-box;
	-ms-transform: rotateY(180deg);
	-ms-box-sizing: border-box;
	transform: rotateY(180deg);
	box-sizing: border-box;
	text-align: center;
	background-color: #fbfcba;
	font-weight: bold;
}

#map_canvas{
    width: 100%;
    height: 200px;
}

.hero-unit{
  padding: 10px !important;
}